<div class="d-flex vh-100" lc-helper="background"
    style="background-image: url(assets/backgrounds/img-background-5.png); background-size: 1600px 700px;">
    <div class="container py-5 mt-2 mb-5">
        <div class="row mb-4 align-items-center flex-lg-row-reverse margin-top">
            <div class="col-md-6 col-xl-5">
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h1 class="fw-bolder display-2">Code<br>Makers</h1>
                        <h4 class="display-4 mt">Developers</h4>
                    </div>
                </div>
                <div class="lc-block">
                    <a class="btn btn-dark" href="#" role="button" routerLink="/about">Saber más</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-7 mb-5 mb-lg-0">
                <div class="d-none d-sm-flex justify-content-center">
                    <img class="img-fluid" src="assets/logos/LOGO CODE MAKERS.png" width="350" height="350"
                        alt="logo code makers">
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button class="btn btn-dark rounded-5" (click)="scrollDown()">
                <a href="" class="text-white"><i class="fa-solid fa-arrow-down"></i></a>
            </button>
        </div>
    </div>
</div>