.margin-top {
    margin-top: 130px;
}

.display-2{
    font-size: 8rem;
    margin-left: -10px;
}

.mt{
    margin-top: -20px;
}

@media (max-width: 768px) {
    .display-2{
        font-size: 5rem;
    }
    
}
