
    <div class="container" lc-helper="background"
    style="background-image: url(assets/backgrounds/img-background-6.png); background-size: 1600px 1000px;">
        <div class="row py-5">
            <div class="col-md-12 text-center">
                <div class="lc-block mt-5">
                    <h2 editable="inline" class="display-2 mb-0"><b>Nuestros servicios</b></h2>
                    <p editable="inline"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus id
                        <br>ligula malesuada placerat sit amet quis enim.
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="p-lg-5 p-4 shadow">
                    <div class="lc-block mb-4"><img alt="" class="img-fluid"
                            src="https://cdn.livecanvas.com/media/svg/undraw/product-teardown.svg" style="height:10vh">


                        <h4 class="my-3" editable="inline"></h4>
                        <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a
                            lacus
                            est.&nbsp;</p>


                        <a class="btn btn-outline-primary" href="#" role="button">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-lg-5 p-4 shadow">
                    <div class="lc-block mb-4">
                        <img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/selfie.svg"
                            style="height:10vh">


                        <h4 class="my-3" editable="inline"></h4>
                        <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a
                            lacus
                            est.&nbsp;</p>


                        <a class="btn btn-outline-primary" href="#" role="button">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-lg-5 p-4 shadow">
                    <div class="lc-block mb-4">
                        <img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/add-files.svg"
                            style="height:10vh">

                        <h4 class="my-3" editable="inline"></h4>
                        <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a
                            lacus
                            est.&nbsp;</p>

                        <a class="btn btn-outline-primary" href="#" role="button">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="p-lg-5 p-4 shadow">
                    <div class="lc-block mb-4">
                        <img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/delivery.svg"
                            style="height:10vh">

                        <h4 class="my-3" editable="inline"></h4>
                        <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a
                            lacus
                            est.&nbsp;</p>

                        <a class="btn btn-outline-primary" href="#" role="button">Leer más</a>
                    </div><!-- /lc-block -->
                </div>
            </div><!-- /col -->
            <div class="col-md-4">
                <div class="p-lg-5 p-4 shadow">
                    <div class="lc-block mb-4">
                        <img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/no-data.svg"
                            style="height:10vh">

                        <h4 class="my-3" editable="inline"></h4>
                        <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a
                            lacus
                            est.&nbsp;</p>

                        <a class="btn btn-outline-primary" href="#" role="button">Leer más</a>
                    </div><!-- /lc-block -->
                </div>
            </div><!-- /col -->
            <div class="col-md-4">
                <div class="p-lg-5 p-4 shadow">
                    <div class="lc-block mb-4">
                        <img alt="" class="img-fluid" src="https://cdn.livecanvas.com/media/svg/undraw/select.svg"
                            style="height:10vh">

                        <h4 class="my-3" editable="inline"></h4>
                        <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a
                            lacus
                            est.&nbsp;</p>


                        <a class="btn btn-outline-primary" href="#" role="button">Leer más</a>
                    </div><!-- /lc-block -->
                </div>
            </div><!-- /col -->
        </div>
    </div>
