<section>
    <div class="d-flex container-fluid" lc-helper="background"
        style="min-height:40vh;background:url(assets/banners/banner-dev.png)  center / cover no-repeat;">
    </div>
    <div class="container py-5 bg-light" style="margin-top:-20vh">
        <div class="row">
            <div class="col-md-12 text-center text-dark">
                <div class="lc-block">
                    <img alt="logo" class="img-fluid" src="assets/logos/LOGO CODE MAKERS.png"
                        style="max-height:10vh">
                    <div class="lc-block ">
                        <div editable="rich">
                            <h2>Code Makers</h2>
                        </div>
                    </div>
                    <!-- /lc-block -->
                </div>
                <!-- /lc-block -->
                <div class="lc-block text-center">
                    <div editable="rich">
                        <p> Copyright © CodeMakersDevs</p>
                    </div>
                </div>
                <!-- /lc-block -->
            </div>
            <!-- /col -->
        </div>
        <div class="row d-flex justify-content-center">
            <div class="d-flex col-md-12 justify-content-center">
                <div class="lc-block text-center text-dark py-5 mx-2">
                    <a class="text-decoration-none" href="https://www.facebook.com/">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
                <div class="lc-block text-center text-dark py-5 mx-2">
                    <a class="text-decoration-none" href="https://www.facebook.com/">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
                <div class="lc-block text-center text-dark py-5 mx-2">
                    <a class="text-decoration-none" href="https://www.facebook.com/">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
                <div class="lc-block text-center text-dark py-5 mx-2">
                    <a class="text-decoration-none" href="https://www.facebook.com/">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>