<section>
    <div class="d-flex container-fluid" lc-helper="background"
        style="min-height:40vh;background:url(assets/backgrounds/img-background-7.png)  center / cover no-repeat;">
    </div>
    <div class="container py-5 bg-light" style="margin-top:-20vh">
        <div class="row">
            <div class="col-md-12 text-center text-dark">
                <div class="lc-block">
                    <img alt="logo" class="img-fluid" src="assets/logos/LOGO CODE MAKERS.png" style="max-height:10vh">
                    <div class="lc-block ">
                        <div editable="rich">
                            <h2>Code Makers</h2>
                        </div>
                    </div>
                    <!-- /lc-block -->
                </div>
                <!-- /lc-block -->
                <div class="lc-block text-center">
                    <div editable="rich">
                        <p> Copyright 2023 © CodeMakersDevs</p>
                    </div>
                </div>
                <!-- /lc-block -->
            </div>
            <!-- /col -->
        </div>
        <div class="row d-flex justify-content-center">
            <div class="d-flex col-md-12 justify-content-center">
                <section class="mb-4">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/profile.php?id=61551382897401&mibextid=ZbWKwL"
                        class="btn text-white btn-floating m-1 rounded-circle" style="background-color: #3b5998;"
                        role="button" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>

                    <!-- Twitter -->
                    <!-- <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#!"
                        role="button"><i class="fab fa-twitter"></i></a> -->

                    <!-- Instagram -->
                    <a href="https://instagram.com/code_makers_developers?igshid=MzRlODBiNWFlZA=="
                        class="btn text-white btn-floating m-1 rounded-circle ig" role="button" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <!-- Linkedin -->
                    <a href="https://www.linkedin.com/company/code-makers/" target="_blank"
                        class="btn text-white btn-floating m-1 rounded-circle" style="background-color: #0082ca;"
                        role="button">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <!-- Whatsapp -->
                    <a href="https://wa.link/xf6u91" target="_blank"
                        class="btn text-white btn-floating m-1 rounded-circle" style="background-color: #25D366 ;"
                        role="button">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </section>
            </div>
        </div>
    </div>
</section>