<nav class="navbar navbar-expand-lg py-3"
    [ngClass]="{'navbar-transparent': isNavbarTransparent, 'navbar-white': !isNavbarTransparent}">
    <div class="container">
        <a class="navbar-brand" href="#" class="align-middle me-1" alt="code makers">
            <img [src]="isDarkTheme ? logoDarkSrc : logoLightSrc" alt="" width="220" height="60">
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#myNavbar3"
            aria-controls="myNavbar3" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="lc-block collapse navbar-collapse mennu" id="myNavbar3">
            <div lc-helper="shortcode" class="live-shortcode ms-auto">
                <ul id="menu-menu-1" class="navbar-nav me-auto mb-2 mb-md-0 navbar-nav">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-32739">
                        <a href="#" class="nav-link " routerLink="home" (click)="closeNavbar()">Inicio</a>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-32739">
                        <a href="#" class="nav-link " routerLink="about" (click)="closeNavbar()">Acerca de</a>
                    </li>
                    <!-- <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-32739">
                        <a href="#" class="nav-link " routerLink="services" (click)="closeNavbar()">Servicios</a>
                    </li> -->
                    <!-- <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-32739">
                        <a href="#" class="nav-link " routerLink="clients" (click)="closeNavbar()">Clientes</a>
                    </li> -->
                    <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-32739">
                        <a href="#" class="nav-link " routerLink="contact" (click)="closeNavbar()">Contacto</a>
                    </li>
                </ul>
            </div>
            <div class="lc-block ms-auto d-grid gap-2 d-lg-block button">
                <a class="btn btn-dark rounded-5" href="#" role="button" (click)="toggleTheme()">
                    <i [ngClass]="iconClass"></i>
                </a>
            </div>



        </div>
    </div>
</nav>