<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="lc-block">
                <h2 editable="inline" class="fw-bolder display-2 mb-0">Nuestros productos</h2>
                <p editable="inline"> Estos son algunos de nuestros productos y servicios que ofrecemos.</p>
            </div><!-- /lc-block -->
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-md-4">
            <div class="lc-block border p-4">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        width="4em" height="4em" viewBox="0 0 24 24" lc-helper="svg-icon" fill="currentColor">
                        <path
                            d="M4,2A2,2 0 0,0 2,4V14H4V4H14V2H4M8,6A2,2 0 0,0 6,8V18H8V8H18V6H8M20,12V20H12V12H20M20,10H12A2,2 0 0,0 10,12V20A2,2 0 0,0 12,22H20A2,2 0 0,0 22,20V12A2,2 0 0,0 20,10Z">
                        </path>
                    </svg>
                    <h4 class="my-3" editable="inline">Servicio</h4>
                    <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus
                        est.&nbsp;</p>
                </div>
            </div>
            <!-- /lc-block -->
        </div>
        <div class="col-md-4">
            <div class="lc-block border p-4">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        width="4em" height="4em" viewBox="0 0 24 24" lc-helper="svg-icon" fill="currentColor">
                        <path
                            d="M19,12H17V15H14V17H19V12M7,9H10V7H5V12H7V9M21,3H3A2,2 0 0,0 1,5V19A2,2 0 0,0 3,21H21A2,2 0 0,0 23,19V5A2,2 0 0,0 21,3M21,19H3V5H21V19Z">
                        </path>
                    </svg>
                    <h4 class="my-3" editable="inline">Servicio</h4>
                    <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus
                        est.&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="lc-block border p-4">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        width="4em" height="4em" viewBox="0 0 24 24" lc-helper="svg-icon" fill="currentColor">
                        <path
                            d="M23.05,11H20.05V4L15.05,14H18.05V22M12,18H4L4.05,6H12.05M12.72,4H11.05V2H5.05V4H3.38A1.33,1.33 0 0,0 2.05,5.33V20.67C2.05,21.4 2.65,22 3.38,22H12.72C13.45,22 14.05,21.4 14.05,20.67V5.33A1.33,1.33 0 0,0 12.72,4Z">
                        </path>
                    </svg>
                    <h4 class="my-3" editable="inline">Servicio</h4>
                    <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus
                        est.&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-4">
            <div class="lc-block border p-4">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        width="4em" height="4em" viewBox="0 0 24 24" lc-helper="svg-icon" fill="currentColor">
                        <path
                            d="M4,2A2,2 0 0,0 2,4V14H4V4H14V2H4M8,6A2,2 0 0,0 6,8V18H8V8H18V6H8M20,12V20H12V12H20M20,10H12A2,2 0 0,0 10,12V20A2,2 0 0,0 12,22H20A2,2 0 0,0 22,20V12A2,2 0 0,0 20,10Z">
                        </path>
                    </svg>
                    <h4 class="my-3" editable="inline">Servicio</h4>
                    <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus
                        est.&nbsp;</p>
                </div>
            </div>
            <!-- /lc-block -->
        </div>
        <div class="col-md-4">
            <div class="lc-block border p-4">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        width="4em" height="4em" viewBox="0 0 24 24" lc-helper="svg-icon" fill="currentColor">
                        <path
                            d="M19,12H17V15H14V17H19V12M7,9H10V7H5V12H7V9M21,3H3A2,2 0 0,0 1,5V19A2,2 0 0,0 3,21H21A2,2 0 0,0 23,19V5A2,2 0 0,0 21,3M21,19H3V5H21V19Z">
                        </path>
                    </svg>
                    <h4 class="my-3" editable="inline">Servicio</h4>
                    <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus
                        est.&nbsp;</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="lc-block border p-4">
                <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        width="4em" height="4em" viewBox="0 0 24 24" lc-helper="svg-icon" fill="currentColor">
                        <path
                            d="M23.05,11H20.05V4L15.05,14H18.05V22M12,18H4L4.05,6H12.05M12.72,4H11.05V2H5.05V4H3.38A1.33,1.33 0 0,0 2.05,5.33V20.67C2.05,21.4 2.65,22 3.38,22H12.72C13.45,22 14.05,21.4 14.05,20.67V5.33A1.33,1.33 0 0,0 12.72,4Z">
                        </path>
                    </svg>
                    <h4 class="my-3" editable="inline">Servicio</h4>
                    <p editable="inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus
                        est.&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="lc-block d-flex justify-content-end mt-3 mb-5">
        <div class="lc-block">
            <a class="btn btn-dark" href="#" role="button">Leer más</a>
        </div>
    </div>
</div>