<div class="d-flex about" lc-helper="background"
    style="background-image: url(assets/backgrounds/img-background-3.png); background-size: 1600px 750px;">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="lc-block">
                    <h2 editable="inline" class="fw-bolder display-2 mb-0">Nuestros productos</h2>
                    <p editable="inline"> Estos son algunos de nuestros productos y servicios que ofrecemos.</p>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-md-4">
                <card-services></card-services>
            </div>
            <div class="col-md-4">
                <card-services></card-services>
            </div>
            <div class="col-md-4">
                <card-services></card-services>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-4">
                <card-services></card-services>
            </div>
            <div class="col-md-4">
                <card-services></card-services>
            </div>
            <div class="col-md-4">
                <card-services></card-services>
            </div>
        </div>
        
        <div class="lc-block d-flex justify-content-end mt-3 mb-5">
            <div class="lc-block">
                <a class="btn btn-dark" href="#" role="button" routerLink="/services">Leer más</a>
            </div>
        </div>
    </div>
</div>