.card-service {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(58, 170, 255, 0.133);
    height: 400px;
}

.fa-laptop-code {
    font-size: 50px;
}

@media (max-width: 768px) {
    .mt {
        margin-top: 30px;
    }

    .p1 {
        font-size: 15px;
    }
}