<div class="d-flex about" lc-helper="background"
    style="background-image: url(assets/backgrounds/img-background-3.png); background-size: 1600px 750px;">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="lc-block">
                    <h2 editable="inline" class="fw-bolder display-2 mb-0">Nuestros servicios</h2>
                    <p editable="inline"> Estos son algunos de nuestros productos y servicios que ofrecemos.</p>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-md-4">
                <div class="lc-block rounded-3 p-4 blur">
                    <div class="text-center">
                        <img src="assets/services/asesoramiento.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" width="200">
                        <h4 class="my-3" editable="inline">Consultoría Tecnológica</h4>
                        <p editable="inline">Asesoramiento en estrategia tecnológica, implementación de soluciones,
                            optimización de procesos y servicios de gestión de proyectos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="lc-block rounded-3 p-4 blur">
                    <div class="text-center">
                        <img src="assets/services/desarrollo.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" width="190">
                        <h4 class="my-3" editable="inline">Desarrollo de Software</h4>
                        <p editable="inline">Creación de aplicaciones personalizadas, desarrollo de software a medida,
                            desarrollo de aplicaciones móviles y servicios de programación.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="lc-block rounded-3 p-4 blur">
                    <div class="text-center">
                        <img src="assets/services/web.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" width="260">
                        <h4 class="my-3" editable="inline">Desarrollo de Sitios Web</h4>
                        <p editable="inline">Diseño y desarrollo de sitios web, optimización de la experiencia del
                            usuario y servicios de comercio electrónico.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-4">
            <div class="col-md-4">
                <div class="lc-block rounded-3 p-4 blur">
                    <div class="text-center">
                        <img src="assets/services/analisis.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" width="200">
                        <h4 class="my-3" editable="inline">Analítica de Datos</h4>
                        <p editable="inline">Análisis de datos, minería de datos, inteligencia de negocios y servicios
                            de visualización de datos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="lc-block rounded-3 p-4 blur">
                    <div class="text-center">
                        <img src="assets/services/database.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="" width="200">
                        <h4 class="my-3" editable="inline">Gestión de Bases de Datos</h4>
                        <p editable="inline">Esto incluye la creación, implementación y administración de bases de
                            datos, así como servicios de optimización de bases de datos existentes.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="lc-block rounded-3 p-4 blur">
                    <div class="text-center">
                        <i class="fa-solid fa-laptop-code"></i>
                        <h4 class="my-3" editable="inline">Desarrollo de Sitios Web</h4>
                        <p editable="inline">Diseño y desarrollo de sitios web, optimización de la experiencia del
                            usuario y servicios de comercio electrónico.</p>
                    </div>
                </div>
            </div> -->
        </div>


        <!-- <div class="lc-block d-flex justify-content-end mt-3 mb-5">
            <div class="lc-block">
                <a class="btn btn-dark" href="#" role="button" routerLink="/services">Leer más</a>
            </div>
        </div> -->
    </div>
</div>