<div class="d-flex about" lc-helper="background">
    <!-- style="background-image: url(assets/backgrounds/img-background-4.png); background-size: 1600px 720px;" -->

    <div class="container py-5 mt-5 mb-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="lc-block">
                    <h2 editable="inline" class="fw-bolder display-2 mb-0">Clientes</h2>
                    <p editable="inline">Algunos de nuestros clientes.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-2">
            <div class="col-xl-4 mb-5 text-center text-xl-start">

                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h2 class="fw-bold display-6">Nuestros clientes</h2>
                    </div>
                </div>
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <p class="fw-light rfs-10">En <b>Code Makers</b>, somos apasionados por la creación de
                            software que hace que las ideas cobren vida. Nuestro enfoque se centra en la calidad, la
                            innovación y la satisfacción del cliente. Nos especializamos en el desarrollo de soluciones
                            tecnológicas personalizadas que se adaptan a tus necesidades únicas. </p>
                    </div>
                </div>

                <!--  <div class="lc-block">
                    <a class="btn btn-dark" href="#" role="button">Leer más</a>
                </div> -->

            </div>

            <div class="col-xl-8 position-relative">

                <div id="carouselTestimonialCards" class="carousel slide py-xl-4" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <div class="row row-cols-1 row-cols-lg-2 g-4">
                                <div class="col">
                                    <div class="card p-3 card-client">
                                        <div class="card-body">
                                            <div class="lc-block mb-4">
                                                <div editable="rich">
                                                    <p><em class="rfs-8 text-muted">
                                                            <br>
                                                            <br>
                                                            Mainsoft es una empresa de software
                                                            que se especializa en la creación de soluciones de software
                                                            empresarial y colaboración.
                                                            <br>
                                                            <br>
                                                        </em></p>
                                                </div>
                                            </div>
                                            <div class="lc-block d-inline-flex">
                                                <div class="lc-block me-3" style="min-width:72px">
                                                    <img class="img-fluid rounded-circle "
                                                        src="assets/clients/mainsoft.png" width="72" height="72">
                                                </div>
                                                <div class="lc-block">
                                                    <div editable="rich">

                                                        <p class="h5">Mainsoft</p>

                                                        <p class="text-muted">Tecnologia para su negocio.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card p-3 card-client">
                                        <div class="card-body">
                                            <div class="lc-block mb-4">
                                                <div editable="rich">
                                                    <p><em class="rfs-8 text-muted">Soaint es una empresa de tecnología
                                                            con sede en América Latina. Se
                                                            especializa en servicios de consultoría y soluciones
                                                            tecnológicas, incluyendo software, para ayudar a las
                                                            empresas a optimizar sus procesos y mejorar su eficiencia.
                                                        </em></p>
                                                </div>
                                            </div>
                                            <div class="lc-block d-inline-flex">
                                                <div class="lc-block me-3" style="min-width:72px">
                                                    <img class="img-fluid rounded-circle "
                                                        src="assets/clients/soaint.png" width="72" height="72">
                                                </div>
                                                <div class="lc-block">
                                                    <div editable="rich">

                                                        <p class="h5">Soaint</p>

                                                        <p class="text-muted">Transformación & Evolución</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="carousel-item">

                            <div class="row row-cols-1 row-cols-lg-2 g-4">
                                <div class="col">
                                    <div class="card p-3 card-client">
                                        <div class="card-body">
                                            <div class="lc-block mb-4">
                                                <div editable="rich">
                                                    <p><em class="rfs-8 text-muted">Es una compañía integral de
                                                            soluciones tecnológicas, con presencia y trayectoria a nivel
                                                            mundial, respaldo y potenciando las
                                                            capacidades de las empresas para llevarlas a la
                                                            transformación digital consiguiendo objetivos en sus
                                                            proyectos.</em></p>
                                                </div>
                                            </div>
                                            <div class="lc-block d-inline-flex">
                                                <div class="lc-block me-3" style="min-width:72px">
                                                    <img class="img-fluid rounded-circle "
                                                        src="assets/clients/periferia.png" width="72" height="72">
                                                </div>
                                                <div class="lc-block">
                                                    <div editable="rich">

                                                        <p class="h5">Periferia</p>

                                                        <p class="text-muted">Group IT</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card p-3 card-client">
                                        <div class="card-body">
                                            <div class="lc-block mb-4">
                                                <div editable="rich">
                                                    <p><em class="rfs-8 text-muted">Fusionamos a la perfección la
                                                            contratación externa de recursos y la creación de software a
                                                            la medida para que las empresas den el salto tecnológico que
                                                            necesitan.</em></p>
                                                </div>
                                            </div>
                                            <div class="lc-block d-inline-flex">
                                                <div class="lc-block me-3" style="min-width:72px">
                                                    <img class="img-fluid rounded-circle "
                                                        src="assets/clients/complemento_360.png" width="72" height="72">
                                                </div>
                                                <div class="lc-block">
                                                    <div editable="rich">

                                                        <p class="h5">Complemento 360</p>

                                                        <p class="text-muted">Fábrica de software</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>



                    <div class="w-100 px-3 text-center mt-4">
                        <a class="carousel-control-prev position-relative d-inline me-4"
                            href="#carouselTestimonialCards" data-bs-slide="prev">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="text-primary" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M11.354 1.726a.5.5 0 0 1 0 .708L5.707 8l5.727 5.726a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z">
                                </path>
                            </svg>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next position-relative d-inline" href="#carouselTestimonialCards"
                            data-bs-slide="next">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="text-primary" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.726 1.726a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.726 2.354a.5.5 0 0 1 0-.708z">
                                </path>
                            </svg>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="lc-block">
                <div id="carouselLogos" class="carousel slide pb-4" data-bs-ride="carousel">

                    <div class="carousel-inner px-5">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-6 col-lg-2 align-self-center">
                                    <img class="d-block w-100 px-3 mb-3" src="assets/clients/logos/logo_mainsoft.png"
                                        alt="">
                                </div>
                                <div class="col-6 col-lg-2 align-self-center">
                                    <img class="d-block w-100 px-3 mb-3" src="assets/clients/logos/logo_soaint.png"
                                        alt="">
                                </div>
                                <div class="col-6 col-lg-2 align-self-center">
                                    <img class="d-block w-100 px-3 mb-3" src="assets/clients/logos/complemento_360.png"
                                        alt="">
                                </div>
                                <div class="col-6 col-lg-2 align-self-center">
                                    <img class="d-block w-100 px-3 mb-3" src="assets/clients/logos/logo_periferia.png"
                                        alt="">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-6 col-lg-2 align-self-center">
                                    <img class="d-block w-100 px-3 mb-3" src="assets/clients/logos/logo_mainsoft.png"
                                        alt="">
                                </div>
                                <div class="col-6 col-lg-2 align-self-center">
                                    <img class="d-block w-100 px-3 mb-3" src="assets/clients/logos/logo_soaint.png"
                                        alt="">
                                </div>
                                <div class="col-6 col-lg-2 align-self-center">
                                    <img class="d-block w-100 px-3 mb-3" src="assets/clients/logos/complemento_360.png"
                                        alt="">
                                </div>
                                <div class="col-6 col-lg-2 align-self-center">
                                    <img class="d-block w-100 px-3 mb-3" src="assets/clients/logos/logo_periferia.png"
                                        alt="">
                                </div>
                            </div>
                        </div>


                    </div>

                    <!--
	<ol class="carousel-indicators position-relative mt-3">
		<li data-bs-target="#carouselLogos" data-bs-slide-to="0" class="active bg-dark carousel-control-prev-icon"></li>
		<li data-bs-target="#carouselLogos" data-bs-slide-to="1" class="bg-dark"></li>
	</ol>
	-->

                    <div class="w-100 px-3 text-center mt-4">
                        <a class="carousel-control-prev position-relative d-inline me-4" href="#carouselLogos"
                            data-bs-slide="prev">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="text-primary" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z">
                                </path>
                            </svg>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next position-relative d-inline" href="#carouselLogos"
                            data-bs-slide="next">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="text-primary" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
                                </path>
                            </svg>
                            <span class="visually-hidden">Next</span>
                        </a>





                    </div>


                </div>
            </div><!-- /lc-block -->
        </div><!-- /col -->
    </div>
</div>