<div class="container">
    <div class="row align-items-md-center py-5 mb-5">
        <div class="col-md-12">
            <div class="lc-block text-center mt-5 py-5">
                <h2 editable="inline" class="display-2 mb-0"><b>Acerca de nosotros</b></h2>
                <p editable="inline"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus <br> id
                    ligula malesuada placerat sit amet quis enim.</p>
            </div>
        </div>
    </div>
    <div class="row align-items-md-center mb-5">
        <div class="col-md-6 pr-5">
            <div class="lc-block py-2">
                <span class="badge bg-dark" editable="inline">INFO</span>
            </div>
            <div class="lc-block mb-4">
                <h2 editable="inline">Trabajando juntos, para construir grandes proyectos.</h2>
            </div>
            
            <div class="lc-block text-muted">
                <div editable="rich">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et metus id ligula malesuada
                        placerat sit amet quis enim. Aliquam erat volutpat.&nbsp;</p>
                    <p>In pellentesque scelerisque auctor. Ut porta lacus eget nisi fermentum lobortis. Vestibulum
                        facilisis tempor
                        ipsum, ut rhoncus magna ultricies laoreet. Proin vehicula erat eget libero accumsan iaculis.</p>
                </div>
            </div><!-- /lc-block -->
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="lc-block">
                <div class="card shadow-sm border-light">
                    <img src="https://images.unsplash.com/photo-1525296143957-b62256c593bf?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                        alt="Featured image 1" class="card-img-top" loading="lazy">
                    <div class="card-body">
                        <h3 class="card-title" editable="inline">Café</h3>
                        <!-- <h4 class="card-subtitle" editable="inline">Card subtitle</h4> -->
                        <p class="card-text" editable="inline">Some quick example text to build on the card title</p>
                    </div>
                </div>
            </div>
            <div class="lc-block">
                <div class="card shadow-sm border-light mt-4">
                    <img src="https://images.unsplash.com/photo-1536060316316-2466bda904f1?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80"
                        alt="Featured image 2" class="card-img-top" loading="lazy">
                    <div class="card-body">
                        <h3 class="card-title" editable="inline">Dispositivos</h3>
                        <!-- <h4 class="card-subtitle" editable="inline">Card subtitle</h4> -->
                        <p class="card-text" editable="inline">Some quick example text to build on the card title</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 pl-sm-3 mt-3 mt-sm-0">
            <div class="lc-block">
                <div class="card shadow-sm border-light">
                    <img src="https://images.unsplash.com/photo-1507831228884-93d43e81a99d?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=632&amp;q=80"
                        alt="Featured image 3" class="card-img-top" loading="lazy">
                    <div class="card-body">
                        <h3 class="card-title" editable="inline">Productividad</h3>
                        <!-- <h4 class="card-subtitle" editable="inline">Card subtitle</h4> -->
                        <p class="card-text" editable="inline">Some quick example text to build on the card title</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>