<div class="container">
    <div class="row align-items-md-center py-5 mb-5">
        <div class="col-md-12">
            <div class="lc-block text-center mt-5 py-5">
                <h2 editable="inline" class="display-2 mb-0"><b>Acerca de nosotros</b></h2>
            </div>
        </div>
    </div>


    <div class="container py-6">
        <div class="row align-items-center flex-md-row-reverse">
            <div class="col-md-6">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h2 class="fw-bold display-5">Nuestro compromiso</h2>
                    </div>
                </div>
                <div class="lc-block mb-5">
                    <div editable="rich">
                        <p class="lead text-muted">En <b>Code Makers</b>, estamos comprometidos a ayudar a empresas
                            y profesionales a prosperar en la era digital. Ya sea que necesites una solución de software
                            a medida, la formación de tu equipo en tecnologías de vanguardia o una colaboración sólida y
                            eficiente, estamos aquí para cumplir tus objetivos. Nuestra reputación se basa en la
                            satisfacción de nuestros clientes y en la entrega de resultados sobresalientes.
                            <br>
                            <br>
                            Si buscas soluciones tecnológicas de calidad y deseas formar parte de un equipo apasionado
                            por la innovación, <b>Code Makers</b> es tu socio ideal en el mundo de la programación.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 d-flex gap-4">
                <div class="col">
                    <div class="lc-block">
                        <img class="img-fluid" src="assets/about/code_makers_1.jpeg"
                            sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="" alt="image about">
                    </div>
                    <div class="lc-block my-4 bg-primary bg-opacity-10" style="min-height:256px">
                    </div>
                </div>
                <div class="col">
                    <div class="lc-block my-4 bg-primary bg-opacity-10" style="min-height:256px">
                        <!-- resize this lc-block or change the color using the panel -->
                    </div>
                    <div class="lc-block">
                        <img class="img-fluid" src="assets/about/code_makers_2.jpeg"
                            sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="" alt="Photo by Europeana">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <h1 class="text-center mt-5 mb-5">Nuestros Pilares Fundamentales</h1>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="lc-block blur rounded shadow"><img src="assets/about/software_de_calidad.png"
                        alt="Image Software de calidad" class="img-fluid card-img-top"
                        sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4">
                        <div editable="rich">
                            <h3 class="text-center">Software de Calidad</h3>
                            <p class="text-center">En <b>Code Makers</b>, la excelencia es nuestro estándar. Cada
                                proyecto que
                                emprendemos se lleva a cabo con meticulosidad y precisión para garantizar que el
                                software resultante sea confiable, eficiente y cumpla con los requisitos más exigentes.
                                La calidad está arraigada en nuestro ADN.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="lc-block blur rounded shadow"><img src="assets/about/tecnologias.png"
                        alt="imagen tecnologias" class="img-fluid card-img-top"
                        sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4">
                        <div editable="rich">
                            <h3 class="text-center">Amplia Gama de Tecnologías</h3>
                            <p class="text-center">Estamos a la vanguardia de la tecnología y trabajamos con diversas
                                plataformas y
                                lenguajes de programación. Ya sea que necesites aplicaciones web, móviles, de escritorio
                                o soluciones de IoT, tenemos el conocimiento y la experiencia para hacerlo realidad.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="lc-block blur rounded shadow"><img src="assets/about/formacion.png"
                        alt="imagen formacion continua" class="img-fluid card-img-top"
                        sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4">
                        <div editable="rich">
                            <h3 class="text-center">Formación Continua</h3>
                            <p class="text-center">Reconocemos la importancia de mantenerse al día en un campo tan
                                dinámico como la
                                tecnología. Por eso, ofrecemos capacitación especializada para profesionales interesados
                                en expandir sus conocimientos. Nuestros cursos están diseñados y dirigidos por expertos
                                en sus respectivos campos.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="lc-block blur rounded shadow"><img src="assets/about/team.png"
                        alt="imagen trabajo en equipo" class="img-fluid card-img-top"
                        sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4">
                        <div editable="rich">
                            <h3 class="text-center">Trabajo en Equipo</h3>
                            <p class="text-center">Creemos en la sinergia que se logra cuando se trabaja en equipo. En
                                <b>Code Makers</b>, fomentamos un ambiente colaborativo donde cada miembro aporta su
                                experiencia y creatividad para lograr resultados excepcionales. Juntos, somos más que la
                                suma de nuestras partes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>