<div class="d-flex about" lc-helper="background"
    style="background-image: url(assets/backgrounds/img-background-4.png); background-size: 1600px 900px;">
    <div class="container mb-5" style="padding-top: 10vh; padding-bottom:10vh">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="lc-block">
                    <h2 editable="inline" class="fw-bolder display-2 mb-0">Acerca de</h2>
                    <p editable="inline"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center px-2">
            <div class="col-12 col-md-7 col-lg-6">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h1 editable="inline" class="fw-bolder display-1 mb-0">Software <br>Profesional</h1>
                        <p>Aenean vel nisi in ipsum congue fermentum et ut arcu. Proin leo diam, vulputate eu tellus ac,
                            mattis cursus nunc. Aenean vel nisi in ipsum congue fermentum et ut arcu. Proin leo diam,
                            vulputate eu tellus ac, mattis cursus nunc.</p>
                    </div>
                </div><!-- /lc-block -->
                <div class="lc-block d-flex mb-5">
                    <div class="lc-block">
                        <a class="btn btn-dark" href="#" role="button">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-6">
                <div class="lc-block">
                    <img alt="" class="img-fluid mx-auto d-block"
                        src="https://cdn.livecanvas.com/media/svg/undraw-sample/undraw_connected_world_wuay.svg">
                </div>
            </div>
        </div>
    </div>
</div>