<div class="container py-5">
    <div class="row mb-4 mt-5">
        <div class="lc-block text-center">
            <div editable="rich">
                <h2 class="fw-bold display-2 mt-5">Nuestro talento</h2>
            </div>
        </div>
        <div class="lc-block text-center">
            <div editable="rich">
                <p class="lead">Explora la diversidad y experiencia de nuestro talentoso equipo, donde cada miembro aporta su pasión y habilidades únicas para impulsar el éxito colectivo de nuestra empresa.</p>
            </div>
        </div>
    </div>
    <div class="row image-container">
        <div class="col-6 col-lg-3 g-4">
            <div class="lc-block">
                <img class="img-fluid zoomable-image"
                    src="../../../assets/talent/1.jpeg"
                    sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" alt="Photo"
                    loading="lazy">
            </div>
            <!-- /lc-block -->
        </div>
        <div class="col-6 col-lg-3 g-4">
            <div class="lc-block">
                <img class="img-fluid zoomable-image"
                    src="../../../assets/talent/2.jpeg"
                    sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" alt="Photo"
                    loading="lazy">
            </div>
            <!-- /lc-block -->
        </div>
        <div class="col-6 col-lg-3 g-4">
            <div class="lc-block">
                <img class="img-fluid zoomable-image"
                    src="../../../assets/talent/3.jpeg"
                    sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" alt="Photo"
                    loading="lazy">
            </div>
            <!-- /lc-block -->
        </div>
        <div class="col-6 col-lg-3 g-4">
            <div class="lc-block">
                <img class="img-fluid zoomable-image"
                    src="../../../assets/talent/4.jpeg"
                    sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" alt="Photo"
                    loading="lazy">
            </div>
            <!-- /lc-block -->
        </div>
        <div class="col-6 col-lg-3 g-4">
            <div class="lc-block">
                <img class="img-fluid zoomable-image"
                    src="../../../assets/talent/5.jpeg"
                    sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" alt="Photo"
                    loading="lazy">
            </div>
            <!-- /lc-block -->
        </div>
        <div class="col-6 col-lg-3 g-4">
            <div class="lc-block">
                <img class="img-fluid zoomable-image"
                    src="../../../assets/talent/6.jpeg"
                    sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" alt="Photo"
                    loading="lazy">
            </div>
            <!-- /lc-block -->
        </div>
        <div class="col-6 col-lg-3 g-4">
            <div class="lc-block">
                <img class="img-fluid zoomable-image"
                    src="../../../assets/talent/7.jpeg"
                    sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" alt="Photo"
                    loading="lazy">
            </div>
            <!-- /lc-block -->
        </div>
        <div class="col-6 col-lg-3 g-4">
            <div class="lc-block">
                <img class="img-fluid zoomable-image"
                    src="../../../assets/talent/8.jpeg"
                    sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768"
                    alt="Photo" loading="lazy">
            </div>
            <!-- /lc-block -->
        </div>
    </div>
</div>

<div class="zoomed-image-container">
    <img id="zoomed-image" class="img-fluid" alt="Zoomed Photo">
</div>