<div class="d-flex about" lc-helper="background">
    <!-- style="background-image: url(assets/backgrounds/img-background-6.png); background-size: 1600px 750px;" -->

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="lc-block">
                    <h2 editable="inline" class="fw-bolder display-2 mb-0">Nuestro equipo</h2>
                    <p editable="inline"> Contamos con los mejores profesionales.</p>
                </div>
            </div>
        </div>


        <div class="container mt-5">
            <div class="row text-center mb-3">
                <div class="col-md-4 mb-5 mb-md-0">
                    <img class="w-50 img-fluid mb-3 shadow rounded-circle img" src="assets/team/Jose.jpeg">
                    <h3 editable="inline">José Chavarro</h3>
                    <p editable="inline" class="fw-light">Director Ejecutivo</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <img class="w-50 img-fluid mb-3 shadow rounded-circle " src="assets/team/Deiber.jpeg">
                    <h3 editable="inline">Deiber Chavarro</h3>
                    <p editable="inline" class="fw-light">Líder Técnico</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <img class="w-50 img-fluid mb-3 shadow rounded-circle " src="assets/team/Luis_Montoya.jpeg">
                    <h3 editable="inline">Luis Montoya</h3>
                    <p editable="inline" class="fw-light">Desarrollador Full Stack</p>
                </div>
            </div>
            <div class="row text-center mb-3">
                <div class="col-md-4 mb-5 mb-md-0">
                    <img class="w-50 img-fluid mb-3 shadow rounded-circle " src="assets/team/Nicolas.jpeg">
                    <h3 editable="inline">Nicolas Peñafiel</h3>
                    <p editable="inline" class="fw-light">Desarrollador Full Stack</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <img class="w-50 img-fluid mb-3 shadow rounded-circle " src="assets/team/Julian.png">
                    <h3 editable="inline">Julian Murcia</h3>
                    <p editable="inline" class="fw-light">Desarrollador Full Stack</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <img class="w-50 img-fluid mb-3 shadow rounded-circle " src="assets/team/Camila_Chavarro.jpeg">
                    <h3 editable="inline">Camila Chavarro</h3>
                    <p editable="inline" class="fw-light">Ejecutiva Comercial</p>
                </div>
            </div>
            <div class="row text-center mb-3">
                <div class="col-md-4 mb-5 mb-md-0">
                    <img class="w-50 img-fluid mb-3 shadow rounded-circle " src="assets/team/jersonp.jpeg">
                    <h3 editable="inline">Jerson Peña</h3>
                    <p editable="inline" class="fw-light">Desarrollador Full Stack Java</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <img class="w-50 img-fluid mb-3 shadow rounded-circle " src="assets/team/adriana.jpeg">
                    <h3 editable="inline">Adriana Chavarro</h3>
                    <p editable="inline" class="fw-light">Desarrolladora Java</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <img class="w-50 img-fluid mb-3 shadow rounded-circle " src="assets/team/manuel.jpeg">
                    <h3 editable="inline">Manuel Ome</h3>
                    <p editable="inline" class="fw-light">Desarrollador Full Stack Java</p>
                </div>
            </div>
            <div class="row text-center mb-3">
                <div class="col-md-4 mb-5 mb-md-0">
                    <img class="w-50 img-fluid mb-3 shadow rounded-circle " src="assets/team/duvan.jpeg">
                    <h3 editable="inline">Duvan Barrera</h3>
                    <p editable="inline" class="fw-light">Desarrollador Full Stack Java</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <img class="w-50 img-fluid mb-3 shadow rounded-circle " src="assets/team/diego.jpeg">
                    <h3 editable="inline">Diego Lopez</h3>
                    <p editable="inline" class="fw-light">Desarrollador .Net</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <img class="w-50 img-fluid mb-3 shadow rounded-circle " src="assets/team/ruben.jpeg">
                    <h3 editable="inline">Ruben Zuleta</h3>
                    <p editable="inline" class="fw-light">Desarrollador Full Stack Java & .Net</p>
                </div>
            </div>
            <div class="row text-center mb-3">
                <div class="col-md-4 mb-5 mb-md-0">
                    <img class="w-50 img-fluid mb-3 shadow rounded-circle " src="assets/team/marily.jpeg">
                    <h3 editable="inline">Marily Zuleta</h3>
                    <p editable="inline" class="fw-light">Desarrolladora Full Stack .Net</p>
                </div>
            </div>
        </div>


    </div>
</div>