<div class="d-flex about" lc-helper="background"
    style="background-image: url(assets/backgrounds/img-background-6.png); background-size: 1600px 750px;">

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="lc-block">
                    <h2 editable="inline" class="fw-bolder display-2 mb-0">Nuestro equipo</h2>
                    <p editable="inline"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 py-4">
                <div class="lc-block"><img alt="" class="rounded-circle float-start me-4"
                        src="https://images.unsplash.com/photo-1574698550747-3f839e813107?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=772&amp;q=80"
                        style="width:10vh;" loading="lazy">
                    <div editable="rich">
                        <h5><strong>Neil Amstrong</strong></h5>
                    </div>

                    <small editable="inline" class="text-secondary" style="letter-spacing:1px">SOME LIPSUM</small>

                    <div editable="rich">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo nulla, suscipit non
                            dapibus
                            vitae, dignissim id quam. Donec eget nulla tellus.&nbsp;</p>
                    </div>
                </div>

                <div class="lc-block float-end ms-3 py-4">
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-github"> </i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 py-4">
                <div class="lc-block"><img alt="" class="rounded-circle float-start me-4"
                        src="https://images.unsplash.com/photo-1574698550747-3f839e813107?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=772&amp;q=80"
                        style="width:10vh;" loading="lazy">
                    <div editable="rich">
                        <h5><strong>Neil Amstrong</strong></h5>
                    </div>

                    <small editable="inline" class="text-secondary" style="letter-spacing:1px">SOME LIPSUM</small>

                    <div editable="rich">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo nulla, suscipit non
                            dapibus
                            vitae, dignissim id quam. Donec eget nulla tellus.&nbsp;</p>
                    </div>
                </div>

                <div class="lc-block float-end ms-3 py-4">
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-github"> </i>
                    </a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6 py-4">
                <div class="lc-block"><img alt="" class="rounded-circle float-start me-4"
                        src="https://images.unsplash.com/photo-1574698550747-3f839e813107?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=772&amp;q=80"
                        style="width:10vh;" loading="lazy">
                    <div editable="rich">
                        <h5><strong>Neil Amstrong</strong></h5>
                    </div>

                    <small editable="inline" class="text-secondary" style="letter-spacing:1px">SOME LIPSUM</small>

                    <div editable="rich">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo nulla, suscipit non
                            dapibus
                            vitae, dignissim id quam. Donec eget nulla tellus.&nbsp;</p>
                    </div>
                </div>

                <div class="lc-block float-end ms-3 py-4">
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-github"> </i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 py-4">
                <div class="lc-block"><img alt="" class="rounded-circle float-start me-4"
                        src="https://images.unsplash.com/photo-1574698550747-3f839e813107?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=772&amp;q=80"
                        style="width:10vh;" loading="lazy">
                    <div editable="rich">
                        <h5><strong>Neil Amstrong</strong></h5>
                    </div>

                    <small editable="inline" class="text-secondary" style="letter-spacing:1px">SOME LIPSUM</small>

                    <div editable="rich">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo nulla, suscipit non
                            dapibus
                            vitae, dignissim id quam. Donec eget nulla tellus.&nbsp;</p>
                    </div>
                </div>

                <div class="lc-block float-end ms-3 py-4">
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="text-dark text-decoration-none" href="#">
                        <i class="fa-brands fa-github"> </i>
                    </a>
                </div>
            </div>

        </div>



    </div>
</div>